@model Sitecore.Mvc.Presentation.RenderingModel
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Ready to run</h3>
      <p>Start by coding an Component MVC View and then click the Run button to see the output.</p>
      <p>Or click the <a href="/sitecore/client/Reference/Fiddle?f=Tutorial/Tutorial1.xml" target="_top">Tutorial</a> link in the top menu.</p>
    </div>
  </div>
</div>